.show-container {
  background-image: asset-url("bg-game.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 130vh;
  width: 100vw;
}

.game-play {
  background-color: white;
  position: absolute;
  display: inline-block;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  top: 20px;
}

.modal-stories {
  width: 500px;

  .modal-body{
    // max-width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  img{
    width: 100%;
  }
}

#game-container-1 {

  div.layer,
  div.layer div {
    position: absolute;
  }

  .game-map {
    position: relative;
    // margin: 0px auto;
  }

  &.level1 {
    .floor {
      background-image: asset-url("floor2.png");
      background-repeat: no-repeat;
      background-size: 128px 128px;
    }
    .wall {
      background-image: asset-url("wall.png");
        background-repeat: no-repeat;
      background-size: 128px 128px;
    }
  }

  &.level2 {
    .floor {
      background-image: asset-url("wall.png");
      background-repeat: no-repeat;
      background-size: 128px 128px;
    }
    .wall {
      background-image: asset-url("bush-test.png");
        background-repeat: no-repeat;
      background-size: 128px 128px;
    }
  }

  &.level3 {
    .floor {
      background-image: asset-url("grass2.png");
      background-repeat: no-repeat;
      background-size: 128px 128px;
    }
    .wall {
      background-image: asset-url("buraco2.png");
        background-repeat: no-repeat;
      background-size: 128px 128px;
    }
  }

  &.level4 {
    .floor {
      background-image: asset-url("wall.png");
      background-repeat: no-repeat;
      background-size: 128px 128px;
    }
    .wall {
      background-image: asset-url("bush-test.png");
        background-repeat: no-repeat;
      background-size: 128px 128px;
    }
  }

  &.level5 {
    .floor {
      background-image: asset-url("grass3.png");
      background-repeat: no-repeat;
      background-size: 128px 128px;
    }
    .wall {
      background-image: asset-url("buraco3.png");
        background-repeat: no-repeat;
      background-size: 128px 128px;
    }
  }

  .player {
    background-image: asset-url("kodo-espelhado.png");
    background-repeat: no-repeat;
    background-size: 128px 128px;
    transition: left 0.2s linear, top 0.2s linear;
	  animation: pulse 1.2s linear infinite;
  }

  .goal {
    background-image: asset-url("door1.png");
    background-repeat: no-repeat;
    background-size: 128px 128px;
  }

  .player,
  .goal {
    transform-origin: center;
    transform:scale(0.85);
  }

  #tiles div {
    border: 1px solid white;
  }

  .player.collide {
    animation: wobble 0.2s;
    animation-iteration-count: infinite;
  }

  @keyframes wobble {
    0% { transform: scale(0.85) translate(1px, 1px); }
    10% { transform: scale(0.85) translate(-1px, -2px); }
    20% { transform: scale(0.85) translate(-3px, 0px); }
    30% { transform: scale(0.85) translate(3px, 2px); }
    40% { transform: scale(0.85) translate(1px, -1px);}
    50% { transform: scale(0.85) translate(-1px, 2px); }
    60% { transform: scale(0.85) translate(-3px, 1px); }
    70% { transform: scale(0.85) translate(3px, 1px); }
    80% { transform: scale(0.85) translate(-1px, -1px); }
    90% { transform: scale(0.85) translate(1px, 2px); }
    100% { transform: scale(0.85) translate(1px, -2px);; }
  }
}

@-webkit-keyframes pulse {
	0% {
	  -webkit-transform: scale(1);
	  transform: scale(1);
	}
	50% {
	  -webkit-transform: scale(0.9);
	  transform: scale(0.9);
	}
	100% {
	  -webkit-transform: scale(1);
	  transform: scale(1);
	}
}

#block-commands {
  width: 100%;
  height: 130px;
}

#canvas {
  width: 100%;
  height: 120px;
  background-color: lightgray;

  position: absolute;
  overflow: auto;

  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

#execute-commands {
  background-color: white;
}

#code-box {
  // margin: 0 auto;
  margin: 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
