#game-container-1 {

  div.layer,
  div.layer div {
    position: absolute;
  }

  .game-container {
    margin: 0px auto;
  }

  .game-map {
    position: relative;
    margin: 0px auto;
  }

  .default .floor {
    background-color: lightgrey;
  }
  .default .wall {
    background-color: skyblue;
  }

  .player {
    background-color: #90ee90;
    border: 1px solid green;
    transition: left 0.2s linear, top 0.2s linear;
  }

  .goal {
    background-color: #FFD700;
    border: 1px solid #98720b;
  }

  .player,
  .goal {
    transform-origin: center;
    transform:scale(0.85);
  }

  #map-and-controls {
    display: flex;
    justify-content: center;
  }

  #tiles div {
    border: 1px solid grey;
  }

  #success-msg {
    opacity: 0;
    transition: opacity 0.2s ease;
    position: absolute;
    padding: 5px 5px;
    background-color: rgba(0,0,0,0.5);
    color: white;
    width: calc(100% - 8px);
  }

  .player.collide {
    animation: wobble 0.2s;
    animation-iteration-count: infinite;
  }

  @keyframes wobble {
    0% { transform: scale(0.85) translate(1px, 1px); }
    10% { transform: scale(0.85) translate(-1px, -2px); }
    20% { transform: scale(0.85) translate(-3px, 0px); }
    30% { transform: scale(0.85) translate(3px, 2px); }
    40% { transform: scale(0.85) translate(1px, -1px);}
    50% { transform: scale(0.85) translate(-1px, 2px); }
    60% { transform: scale(0.85) translate(-3px, 1px); }
    70% { transform: scale(0.85) translate(3px, 1px); }
    80% { transform: scale(0.85) translate(-1px, -1px); }
    90% { transform: scale(0.85) translate(1px, 2px); }
    100% { transform: scale(0.85) translate(1px, -2px);; }
  }
}
