<div class="container border border-primary">
  <div class="row">
    <div class="col-3  border border-primary">
      <div id="logo">
        <%= image_tag('testekodo.png', class: "avatar-x avatar-bordered") %>
        <p>KODOSAUR</p>
      </div>
      <div id="navbar">
        <%= render 'shared/navbar' %>
      </div>
      <div id="progres">
      <p>grafico</p>
      </div>
    </div>

    <div class="col-9 border border-primary">

      <div id="user-avatar">
        <%= image_tag('testekodo.png', class: "avatar-x avatar-bordered") %>
        <p>hello current_user</p>
      </div>

      <div id="challenge-all">
        <div id="card-challenge">
          <div class="col">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <%= link_to 'Challenge 1', challenge_games_path(Challenge.first), method: :post %>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
