<div id="home">
  <%=  link_to image_tag('btn-play.png', class: "btn-play"), dashboard_path %>
</div>
<footer><small>LeWagon Batch #766 2021 - Eder Garbin | Fabricio Camargo | Matheus Andrade | Talita Layane</small></footer>
