<div class="body">
  <div class ="bg-success">
    <div class="container-fluid jumbotron bg-success">
      <img class="img-fluid" src="https://e1.pngegg.com/pngimages/506/94/png-clipart-disney-files-toy-story-dino-thumbnail.png">
      <p><strong>&lt Kodosour! &gt</strong></p>
      <button type="button" class="btn btn-primary">Success</button>
    </div>
  </div>
  <div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
  </div>
</div>
<footer class="page-footer bg-green">
here is a footer
</footer>
