<div class="container">
  <div class="game-play row">
    <div class="col-6" id="work-space">
      <div id="code-box">
        <button class="btn btn-primary" data-command="u" id="block-up">up</button>
        <button class="btn btn-primary" data-command="d" id="block-down">down</button>
        <button class="btn btn-primary" data-command="l" id="block-left">left</button>
        <button class="btn btn-primary" data-command="r" id="block-right">right</button>
      </div>
      <ul id="canvas">
      </ul>
      <button class="btn btn-danger mt-4" id="code-execute">Execute</button>
      <button class="btn btn-success mt-4" id="code-reset">Reset</button>
    </div>

    <div class="col-6">
      <div id="game-container-1" class="game-container" data-challenge-id="<%= @game.challenge.id %>" data-level="<%= @game.challenge.level.to_json %>">
        <div id="game-map-1" class="game-map">
          <div id="tiles" class="layer"></div>
          <div id="sprites" class="layer"></div>
        </div>
    </div>
  </div>
</div>
