<div class="d-flex">
  <div id="game-container-1" class="game-container" data-level="<%= @game.challenge.level.to_json %>">
    <div id="map-and-controls">
      <!-- start game map -->
      <div id="game-map-1" class="game-map">
        <div id="tiles" class="layer"></div>
        <div id="sprites" class="layer"></div>
        <div id="success-msg">Goal reached!</div>
      </div>
    </div>
  </div>

  <div id="container">
    <ul id="canvas">
    </ul>
    <div id="code-box">
      <button id="block-up">up</button>
      <button id="block-down">down</button>
      <button id="block-left">left</button>
      <button id="block-right">right</button>
    </div>
    <button id="code-execute">Execute</button>
  </div>
</div>
